.container {
  display: flex;
  justify-content: flex-start;

  box-sizing: border-box;
  min-width: 220px;
  padding-left: 2rem;
  margin: 0.35rem 0;

  font-size: 0.85rem;

  color: #8899A6;
}

.container:hover,
.active {
  color: #E1E8ED;
  transition: color 0.28s ease-in 0s;
}

.container:hover .icon,
.active .icon {
  --svgColor: var(--primaryColor);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1.8rem;

  --svgColor: #66757F;
  /* color: var(--primaryColor) */
}
